* {
    box-sizing: border-box;
}

body,
html,
main {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
}

.sidebar {
    text-align: center;
    padding-top: 100px;
    width: 25%;
}

.nav {
    padding-top: 50px;
    list-style-type: none;
}

.nav li {
    padding-bottom: 30px;
}

.bio {
    flex: 1;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
    background-color: #bbb;
    height: 100%;
}

.bio div {
    border: 1px solid black;
    height: 25%;
}

footer {
    background: dark grey;
    text-align: center;
}


/* Mobile Styles */

@media only screen and (max-width: 400px) {
    .sidebar {
        margin-left: -24%;
    }
}


/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .sidebar {
        margin-left: -24%;
    }
}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .sidebar {
        width: 25%;
    }
}