* {
    box-sizing: border-box;
}

body,
html,
main {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: beige;
    text-align: center;
    padding-top: 100px;
    flex: 0 0 25%;
}

.nav {
    padding-top: 50px;
    list-style-type: none;
}

.nav li {
    padding-bottom: 30px;
}

.bio {
    flex: 1;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
    background-color: #bbb;
    height: 100%;
}

.bio div {
    border: 1px solid black;
    height: 25%;
}

footer {
    background: blue;
    border: 1px solid black;
    text-align: center;
}